body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body {
    background: #474747;
}
/* optional Container STYLES */
.chart { border: none; overflow: scroll}
.Treant > .node {
    cursor: pointer;
}
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }

.tooltipster-sidetip .tooltipster-box {
    font-size: 12px;
    border: 2px solid #327866;
    display: block;
    min-width: 256px;
    max-width: 512px;
    font-family: 'Arimo', Verdana;
    background-color: rgba(30,30,30,0.9);
    color: white;
    border-radius: unset;
}

#deepsearch {
    padding: 3px;
}

#deepsearch:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }

.extra-data {
    display:none;
}

@font-face {
    font-family: 'Symbola';
    src: url('../fonts/Symbola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tech {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: black;
    border: 3px solid #000;
    width: 275px;
    height: 66px;
    font-family: 'Arimo', Verdana;
    font-size: 12px;
    color: white;
}

.tech div.icon {
    background-color: black;
    border-radius: 4px;
    width: 52px;
    height: 52px;
    float: left;
    margin: 8px 10px 2px 2px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.tech.dangerous {
    background-image: url("tech_bg_dangerous.png");
}

.tech div.icon.dangerous {
    /*box-shadow: 0 0 2em red;*/
}

.tech div.icon.rare {
    /*box-shadow: 0 0 2em #800080;*/
}

.tech p.node-name {
    height: 20px;
    font-weight: bold;
    max-width: 184px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tech p.node-desc {
    margin-bottom: 2px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tech p.node-title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tech p.node-desc img {
    height: 16px;
    width: 16px;
    margin-top: -2px;
    margin-right: 3px;
}

.tech div.node-status {
    border: 1px solid #333;
    margin: 1px;
    position: inherit;
    float: right;
    bottom: 0;
    right: 0;
    height: 21px;
    width: 21px;
}

.tech div.node-status.active {
    background-image: url("../icons/yes.png");
}

.tech p.description,
.tech p.weight-modifiers,
.tech p.feature-unlocks {
    border: 1px solid gray;
    padding: 3px;
    width: 12px;
    height: 12px;
    font-family: Symbola;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
    position: relative;
    left: 255px;
    top: -53px;
    z-index: 3;
}

div.extra-data {
    width: 0;
}

.tech p.weight-modifiers.disabled,
.tech p.feature-unlocks.disabled {
    border: 1px solid #444;
    cursor: default;
    color: #444;
}

.tooltipster-sidetip .tooltipster-content {
    padding: 0 !important;
    overflow: hidden;
}

.tooltipster-content .prerequisites img {
    border-radius: 2px;
    background-color: black;
    border: 2px solid #000;
    padding: 1px;
}

.tooltipster-content img.society {
    border-color: #5ACA9C;
}

.tooltipster-content img.engineering { 
    border-color: #E29C43;
}

.tooltipster-content img.physics {
    border-color: #4396E2;
}

.tooltipster-content span.node-status {
    display: inline-block;
    background-image: url("../icons/no.png");
    background-repeat: no-repeat;
    background-size: 13.5px;
    height: 13.5px;
    padding-left: 15px;
    vertical-align: middle;
    background-position-y: 2px;
}

.tooltipster-content span.node-status.active {
    background-image: url("../icons/yes.png");
}

.ui-tooltip {
    padding: 5px !important;
    font-size: 12px;
    display: block;
    min-width: 256px;
    max-width: 512px;
    padding: 3px;
    font-family: 'Arimo', Verdana;
    color: white;
    margin-bottom: 5px;
}

.ui-tooltip img.resource {
    position: relative;
    top: 4px;
    margin-top: -4px;
    width: 16px;
    height: 16px;
}

ui-tooltip ul li {
    list-style-type: disc;
    /* padding-left: 0; */
    /* margin-left: 0; */
}

.ui-tooltip > div > span.weight-modifiers,
.ui-tooltip > div > span.feature-unlocks {
    white-space: pre;
}

pre {
    font-family: 'Arimo', Verdana;
}

.tooltip-content {

}

.tooltip-header {
    width: 100%;
    color: #f59f17;
    font-weight: bold;
}

.tech.society {
    border-color: #5ACA9C;
    background-image: url("tech_bg_society.png");
}

span.society-research::before {
    background: url("../img/society_research.png") center center no-repeat;
    content:  url("../img/blank11px.png");
    width: 11px;
    height: 11px;
}

.tech.engineering { 
    border-color: #E29C43;
    background-image: url('tech_bg_engineering.png');
}

span.engineering-research::before {
    background: url("../img/engineering_research.png") center center no-repeat;
    content:  url("../img/blank11px.png");
    width: 11px;
    height: 11px;
}

.tech.physics {
    border-color: #4396E2;
    background-image: url("tech_bg_physics.png");
}

.tech.dangerous {
    background-image: url("tech_bg_dangerous.png") !important;
}

.tech.rare {
    background-image: url("tech_bg_rare.png") !important;
}

span.physics-research::before {
    background: url("../img/physics_research.png") center center no-repeat;
    content:  url("../img/blank11px.png");
    width: 11px;
    height: 11px;
}

.tech img {
    margin-right: 10px;
}

.left {
    margin-right: 5px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.Treant > a:link {
    color: white;
}

.Treant > a:visited {
    color: white;
}

.Treant > a:link:hover {
    color: #636363;
}

.red {
  color:red;
}

.green {
  color:forestgreen;
}

div.fixed {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px;
    font-family: 'Arimo', Verdana;
    background-color: white;
    border: 1px solid black;
    font-size: 12px;
    font-weight: bold;
    z-index: 9999;
}

.anomaly {
    float:left;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}

.anomaly div.node-status {
    margin-right: -2px;
    margin-top: -5px;]
}

div.fixed div {
    margin: 3px 3px 3px 4px !important;
}


/*********************************
    Floating Buttons
**********************************/

.float-Holder{
    position: fixed;
	top: 0px;
    left: 0px;
    background: #333;
    list-style-type: none;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    z-index: 2;
    width: 100%;
}
.float-Element{
    display: inline;
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 10px;
    
}
.float-Search {
    padding: 2px 20px 0px 20px;
}
.float-Contents{
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
    font-family: 'Arimo', Verdana;
    font-size: 11pt;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.float-Image{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    line-height: normal;
}

.float-Lowlight{
    background: #303030;
}
.float-Highlight{
    background: #474747;
}

.float-NoDisplay{
    display: none;
}
.float-RightElement{
    display: block;
    float: right;
    margin-top: 5px;
    margin-left:10px; 
    padding: 8px 12px;
    vertical-align: middle;
    line-height: normal;

}
.float-RightBuffer{
    margin-right: 40px;
}
.float-RightContents{
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
    font-family: 'Arimo', Verdana;
    font-size: 11pt;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.float-RightImage{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    line-height: normal;
}

li.float-RightElement a {
    cursor: pointer;
}

.hide{
    display: none;
}

.research {
    color: #fff;
    height: 18.5px;
}

#research_selection {
    background-color: #333;
    color: #fff;
    border: 1px solid #2F6458;
    padding: 0px 2px;
    text-align: center;
}

path.society {
    stroke: #5ACA9C;
    stroke-width: 2;
}

path.engineering {
    stroke: #E29C43;
    stroke-width: 2;
}

path.physics {
    stroke: #4396E2;
    stroke-width: 2;
}

.node.active.society {
    background-color: #173327;
}

.node.active.physics {
    background-color: #0F2233;
}

.node.active.engineering {
    background-color: #33230F;
}


.node.starter.society {
    background-color: #173327;
}

.node.starter.physics {
    background-color: #0F2233;
}

.node.starter.engineering {
    background-color: #33230F;
}

span.tier {
    font-weight: bold;
}

span.tier-0 {
    color: #9d9d9d;
}

span.tier-1 {
    color: #ffffff;
}

span.tier-2 {
    color: #1eff00;
}

span.tier-3 {
    color: #45a9ff;
}

span.tier-4 {
    color: #c380f1;
}

span.tier-5 {
    color: #ff8000;
}
